<div class="container home"> 
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6 log-in">
					<a href="">Log in</a> 
				</div>
				<div class="col-md-6 register">
					<a href="">Register</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 find">
			<form class="form-inline">
			  <div class="form-group">
  	    	    <label for="findJob">Find Your Job:</label>
		  	    <div class="input-group">
			    	 <input type="text" class="form-control" id="findJob" placeholder="Your Job">
			    	  <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
			    </div>
			  </div>
			</form>		
		</div>
	</div>	
	<div class="row">
		<div class="col-md-6"><a href="">....</a> </div>
		<div class="col-md-6 " >
			<div class="row">
				<div class="col-md-12 register">Post your resume</div>
			</div>
			<div class="row">
				<div class="col-md-12 log-in">Find resume</div>
			</div>
		</div>
	</div>
	<div class="row categories">
		<div class="col-md-4"><a href="">Jobs by specialism:</a></div>
		<div class="col-md-4"><a href="">Jobs by location:</a></div>
		<div class="col-md-4"><a href="">Popular seraches:</a></div>
	</div>
</div>